button{
    margin: 0.1rem;
    color:#EAD8B1;
}
table{
    margin-top: 2rem;
}
h2{
    margin-top: 2rem;
    color: #213555;
    text-align: center;
}
th{
    color: #000;
    text-align: center;    
}
td{
    color: #213555;
    text-align: center;
}
.bg-blue-dark{
    background-color: #001F3F ;
    color:#EAD8B1;
    
}
