<br>
<div class="container">
    <h3>Paciente a editar: <span>{{paciente.primerNombre}}  {{paciente.primerApellido}}</span></h3>
    <div class="input-group mb-3">
        <span class="input-group-text">Peso</span>
        <input  type="number" 
                class="form-control" 
                aria-label="peso" 
                name="peso" 
                [(ngModel)]="paciente.peso">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Altura</span>
        <input  type="text" 
                class="form-control" 
                aria-label="altura" 
                name="altura" 
                [(ngModel)]="paciente.altura">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Primer nombre</span>
        <input  type="text" 
                class="form-control" 
                aria-label="primerNombre" 
                name="primerNombre" 
                [(ngModel)]="paciente.primerNombre">
        <span class="input-group-text">Segundo nombre</span>
        <input  type="text" 
                class="form-control" 
                aria-label="segundoNombre" 
                name="segundoNombre" 
                [(ngModel)]="paciente.segundoNombre">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Primer apellido</span>
        <input  type="text" 
                class="form-control" 
                aria-label="primerApellido" 
                name="primerApellido" 
                [(ngModel)]="paciente.primerApellido">
        <span class="input-group-text">Segundo apellido</span>
        <input  type="text" 
                class="form-control" 
                aria-label="segundoApellido" 
                name="segundoApellido" 
                [(ngModel)]="paciente.segundoApellido">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Antecedentes medicos</span>
        <textarea 
                type="text" 
                class="form-control" 
                aria-label="antecedentesMedicos"
                 name="antecedentesMedicos" 
                [(ngModel)]="paciente.antecedentesMedicos"></textarea>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Fecha de nacimiento</span>
        <input 
        type="date" 
        class="form-control" 
        aria-label="fechaNacimiento" 
        name="fechaNacimiento" 
        [(ngModel)]="paciente.fechaNacimiento">
    </div>
    <div class="input-group mb-3">
        <select class="form-select" 
        aria-label="genero"        
        name="genero" 
        [(ngModel)]="paciente.genero">
            <option value="Masculino">MASCULINO</option>
            <option value="Feminino">FEMENINO</option>
        </select>
    </div>
    <div>
        <button *ngIf="!bandera"  class="btn bg-blue-dark" (click)="onSubmitEditar()" ><i class="bi bi-floppy"></i> Guardar</button>
        <button *ngIf="bandera"  class="btn btn-success" (click)="onSubmit()" ><i class="bi bi-floppy"></i> Guardar</button>
    </div>
</div>