<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo paciente</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="primerNombre" class="col-form-label"
              >Primer nombre</label
            >
            <input
              type="text"
              class="form-control"
              id="primerNombre"
              name="primerNombre"
              class="form-control"
              required="true"
              minlength="4"
              [(ngModel)]="primerNombre"
            />
            <div *ngIf="primerNombre == null">
              <small>El primer nombre es requerido</small>
            </div>
            <label for="segundoNombre" class="col-form-label"
              >Segundo nombre</label
            >
            <input
              type="text"
              class="form-control"
              id="segundoNombre"
              name="segundoNombre"
              minlength="4"
              [(ngModel)]="segundoNombre"
            />
          </div>
          <div class="mb-3">
            <label for="primerApellido" class="col-form-label"
              >Primer apellido</label
            >
            <input
              type="text"
              class="form-control"
              id="primerApellido"
              name="primerApellido"
              required="true"
              minlength="4"
              [(ngModel)]="primerApellido"
            />
            <div *ngIf="primerApellido == null">
              <small>El primer apellido es requerido</small>
            </div>
            <label for="segundoApellido" class="col-form-label"
              >Segundo apellido</label
            >
            <input
              type="text"
              class="form-control"
              id="segundoApellido"
              name="segundoApellido"
              minlength="4"
              [(ngModel)]="segundoApellido"
            />
          </div>
          <div class="mb-3">
            <label for="peso" class="col-form-label">Peso (kg)</label>
            <input
              type="number"
              class="form-control"
              id="peso"
              name="peso"
              required="true"
              min="15"
              [(ngModel)]="peso"
            />
            <div *ngIf="peso == 0.0"><small>El peso es requerido</small></div>
            <label for="altura" class="col-form-label">Altura (cm)</label>
            <input
              type="number"
              class="form-control"
              id="altura"
              name="altura"
              required="true"
              min="40"
              [(ngModel)]="altura"
            />
            <div *ngIf="(altura == 0.0)">
              <small>La altura es requerida</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="fechaNacimiento" class="col-form-label"
              >Fecha nacimiento</label
            >
            <input
              type="date"
              class="form-control"
              id="fechaNacimiento"
              name="fechaNacimiento"
              required="true"
              [(ngModel)]="fechaNacimiento"
            />
            <div *ngIf="fechaNacimiento == null">
              <small>La fecha de nacimiento es requerida</small>
            </div>
          </div>
          <div class="input-group mb-3">
            <select
              class="form-select"
              aria-label="genero"
              name="genero"
              required="true"
              [(ngModel)]="genero"
            >
              <option value="Masculino">MASCULINO</option>
              <option value="Feminino">FEMENINO</option>
            </select>
            
            <div *ngIf="genero == null">
              <small>El género es requerido</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="antecedentesMedicos" class="col-form-label"
              >Antecedentes medicos</label
            >
            <textarea
              class="form-control"
              id="antecedentesMedicos"
              name="antecedentesMedicos"
              required="true"
              [(ngModel)]="antecedentesMedicos"
            ></textarea>
            <div *ngIf="antecedentesMedicos == null">
              <small>Los antecedentes médicos son requeridos</small>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          (click)="onSubmitPaciente()"
          type="button"
          class="btn bg-dark-blue"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
