button{
    margin: 0.5rem;
}
h3{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: #213555;
}
.bg-dark-blue{
    background: #001F3F;
    color: white;
}
.bg-purple{
    background: #7C00FE;
    color: #F9E400;
}
label{
    color: #213555;
}