<div class="card flex justify-content-center contenedor-padre">
    <p-card header="Inicio de sesión - Nutrición" subheader="Ingrese su usuario y clave" [style]="{ width: '26rem' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>

        <br>
        <div class="card" [style]="{ 'margin-left': '2.5em' }">
            <span class="p-float-label">
                <input pInputText id="usuario" />
                <label for="usuario">Nombre de usuario</label>
            </span>
        </div>

        <br>
        <div class="card" [style]="{ 'margin-left': '2.5em' }">
            <span class="p-float-label">
                <p-password></p-password>
                <label for="password">Password</label>
            </span>

        </div>
        <ng-template pTemplate="footer">
            
            <a href="../inicio-sesion" rel="noopener noreferrer" class="p-button font-bold" [style]="{ 'margin-left': '1.5em'}">
                Iniciar sesión
            </a>
            <a href="../registrar-usuario" rel="noopener noreferrer" class="p-button font-bold" [style]="{ 'margin-left': '1em'}">Registrar usuario</a>
        </ng-template>
    </p-card>
</div>

<!--<p-password [(ngModel)]="value" [feedback]="false"></p-password>-->