.top1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bgBlue{
    background: #1E3E62;
    color: #fff;
}
h5{
    color: #FF6500;
}

button{
    margin: 0.2rem;
    color: #EAD8B1;
}
.bg-dark-blue{
    background: #001F3F;
    color: #FF6500;
}

.bg-purple{
    background: #7C00FE;
    color: #F9E400;
}


