<ul class="nav nav-lg justify-content-center bg-blue-dark">
    <li class="nav-item">
        <button class="nav-link active" aria-current="page" (click)="goToPacientes()"><i class="bi bi-house"></i> Inicio</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" (click)="goToRecetas()"><i class="bi bi-card-text"></i> Recetas</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" (click)="goToPacientes()"><i class="bi bi-people-fill"></i> Pacientes</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" (click)="goToCitas()"><i class="bi bi-calendar2-month"></i> Citas</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" (click)="goToUsuarios()"><i class="bi bi-person-badge"></i> Usuarios</button>
    </li>
</ul>