<div class="position-absolute top-50 start-50 translate-middle">
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div>
      <h3>Editar Usuario</h3>

      <div class="input-group mb-3">

        <!-- NOMBRE DE USUARIO -->


        <span class="input-group-text"><i class="bi bi-envelope"></i></span>

        <!--EMAIL-->
        <input type="email" 
        class="form-control" 
        placeholder="Ingresa tu correo" 
        aria-label="email" 
        name="email"
        aria-describedby="basic-addon2" 
        [(ngModel)]="usuario.email" />
      </div>

      <!--CONTRASEÑA-->
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3"><i class="bi bi-incognito"></i></span>
        <input type="password" class="form-control" placeholder="Ingresa tu contraseña" aria-label="contrasena"
          name="contrasena" aria-describedby="basic-addon2" [(ngModel)]="usuario.contrasena" />
        <span class="input-group-text" id="basic-addon4"><i class="bi bi-incognito"></i></span>
        <input type="password" class="form-control" placeholder="Ingresa de nuevo tu contraseña"
          aria-label="contrasenaValidacion" name="contrasenaValidacion" aria-describedby="basic-addon2"
          [(ngModel)]="contrasenaValidar" />
      </div>

      


    <div class="input-group mb-3">
      <select class="form-select" id="rol" [(ngModel)]="usuario.rol">
        <option value="PACIENTE">Paciente</option>
        <option value="NUTRICIONISTA">Nutricionista</option>
        <option value="ADMINISTRADOR" disabled>Administrador</option>
      </select>
      <label class="input-group-text" for="rol">Rol</label>
    </div>


    <div>
      <button (click)="onSubmitUsuario()" class="btn btn-primary">
        <i class="bi bi-floppy"></i> Actualizar
      </button>
      <button type="reset" class="btn btn-danger" (click)="irListadoUsuarios()">
        <i class="bi bi-card-list"></i> Listado
      </button>
    </div>

  </div>
</div>